@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
  font-family: 'Poppins', sans-serif;

}

/**NavBAr */
.btn-outline-warning{
  color:#ff6815 ;
  border-color: #ff6815;
}
#buscarInput{
  height: 2rem;
  margin-right: 5px;
}
#btnBuscar{
  height: 2rem;
  text-align: center;
}

.container{
  justify-content: center;
  text-align: center;
}
.col{
  padding-left: 0px;
  padding-right: 0px;
  max-width: 15em;
}
/*! TARJETA DESCUENTO */
.tDescuento{
display: flex;
justify-content: space-between;
text-align: start;
position: absolute;
width: 5em;
height: 1.5em;
background-color: black;
}

#descuento{
  margin-left: 0.5rem;
  
  color: aliceblue;
}
.flechaDescuento{
  width: 0; 
  height: 1.5em; 
  border-right: 20px solid white;
  border-top: 15px solid transparent;
  border-bottom: 14px solid transparent; 
}
#imgProduct{
  height:15em;
}
.descripcion{
  display:flex; 
  justify-content: space-between;
}
#name{
  font-weight: 500;
}
#price{
  margin-right: 1em;
  font-weight: 400;
}